.contact-nome{
    width: -webkit-fill-available;
    margin-left: 20px;
}
.contact-email{
    width: -webkit-fill-available;
    margin-left: 20px;
}
.contact-number{
    padding: 3px 94px 1px !important;
}